@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,300;1,8..144,300&display=swap');

:root {
  --bs-body-font-family: "Roboto Condensed", sans-serif;
  --bs-primary: #8164aa;
  --bs-primary-rgb: 129, 100, 170;
}

.navbar-brand{
	font-size:1.5rem;
	font-weight: 300;
	font-style:italic;
	letter-spacing: -0.025rem;
}

.navbar-brand > span {
	font-size:150%;
	font-weight: 800;
}

p.lead{
	font-size:calc(1rem + 1vw);
	font-family: "Roboto Serif", Georgia, serif;
	font-weight: 300;
	line-height:1.2;
}

.btn-primary{
	background:#8164aa;
}